extends ../layout/main.pug

block header 
  .header.bg-primary.pb-6
  .container-fluid
    .header-body
      .row.align-items-center.py-4
        .col-lg-6.col-7
          h6.h2.text-white.d-inline-block.mb-0 Icons
          nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
              li.breadcrumb-item
                a(href='#')
                  i.fas.fa-home
              li.breadcrumb-item
                a(href='#') Components
              li.breadcrumb-item.active(aria-current='page') Icons
        .col-lg-6.col-5.text-right
          a.btn.btn-sm.btn-neutral(href='#') New
          a.btn.btn-sm.btn-neutral(href='#') Filters
block content
  .container-fluid.mt--6
    .row.justify-content-center
      .col
        .card
          .card-header.bg-transparent
            h3.mb-0 Icons
          .card-body
            .row.icon-examples
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='active-40' title='Copy to clipboard')
                  div
                    i.ni.ni-active-40
                    span active-40
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='air-baloon' title='Copy to clipboard')
                  div
                    i.ni.ni-air-baloon
                    span air-baloon
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='album-2' title='Copy to clipboard')
                  div
                    i.ni.ni-album-2
                    span album-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='align-center' title='Copy to clipboard')
                  div
                    i.ni.ni-align-center
                    span align-center
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='align-left-2' title='Copy to clipboard')
                  div
                    i.ni.ni-align-left-2
                    span align-left-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='ambulance' title='Copy to clipboard')
                  div
                    i.ni.ni-ambulance
                    span ambulance
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='app' title='Copy to clipboard')
                  div
                    i.ni.ni-app
                    span app
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='archive-2' title='Copy to clipboard')
                  div
                    i.ni.ni-archive-2
                    span archive-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='atom' title='Copy to clipboard')
                  div
                    i.ni.ni-atom
                    span atom
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='badge' title='Copy to clipboard')
                  div
                    i.ni.ni-badge
                    span badge
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bag-17' title='Copy to clipboard')
                  div
                    i.ni.ni-bag-17
                    span bag-17
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='basket' title='Copy to clipboard')
                  div
                    i.ni.ni-basket
                    span basket
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bell-55' title='Copy to clipboard')
                  div
                    i.ni.ni-bell-55
                    span bell-55
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bold-down' title='Copy to clipboard')
                  div
                    i.ni.ni-bold-down
                    span bold-down
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bold-left' title='Copy to clipboard')
                  div
                    i.ni.ni-bold-left
                    span bold-left
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bold-right' title='Copy to clipboard')
                  div
                    i.ni.ni-bold-right
                    span bold-right
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bold-up' title='Copy to clipboard')
                  div
                    i.ni.ni-bold-up
                    span bold-up
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bold' title='Copy to clipboard')
                  div
                    i.ni.ni-bold
                    span bold
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='book-bookmark' title='Copy to clipboard')
                  div
                    i.ni.ni-book-bookmark
                    span book-bookmark
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='books' title='Copy to clipboard')
                  div
                    i.ni.ni-books
                    span books
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='box-2' title='Copy to clipboard')
                  div
                    i.ni.ni-box-2
                    span box-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='briefcase-24' title='Copy to clipboard')
                  div
                    i.ni.ni-briefcase-24
                    span briefcase-24
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='building' title='Copy to clipboard')
                  div
                    i.ni.ni-building
                    span building
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bulb-61' title='Copy to clipboard')
                  div
                    i.ni.ni-bulb-61
                    span bulb-61
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bullet-list-67' title='Copy to clipboard')
                  div
                    i.ni.ni-bullet-list-67
                    span bullet-list-67
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='bus-front-12' title='Copy to clipboard')
                  div
                    i.ni.ni-bus-front-12
                    span bus-front-12
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='button-pause' title='Copy to clipboard')
                  div
                    i.ni.ni-button-pause
                    span button-pause
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='button-play' title='Copy to clipboard')
                  div
                    i.ni.ni-button-play
                    span button-play
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='button-power' title='Copy to clipboard')
                  div
                    i.ni.ni-button-power
                    span button-power
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='calendar-grid-58' title='Copy to clipboard')
                  div
                    i.ni.ni-calendar-grid-58
                    span calendar-grid-58
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='camera-compact' title='Copy to clipboard')
                  div
                    i.ni.ni-camera-compact
                    span camera-compact
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='caps-small' title='Copy to clipboard')
                  div
                    i.ni.ni-caps-small
                    span caps-small
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='cart' title='Copy to clipboard')
                  div
                    i.ni.ni-cart
                    span cart
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='chart-bar-32' title='Copy to clipboard')
                  div
                    i.ni.ni-chart-bar-32
                    span chart-bar-32
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='chart-pie-35' title='Copy to clipboard')
                  div
                    i.ni.ni-chart-pie-35
                    span chart-pie-35
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='chat-round' title='Copy to clipboard')
                  div
                    i.ni.ni-chat-round
                    span chat-round
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='check-bold' title='Copy to clipboard')
                  div
                    i.ni.ni-check-bold
                    span check-bold
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='circle-08' title='Copy to clipboard')
                  div
                    i.ni.ni-circle-08
                    span circle-08
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='cloud-download-95' title='Copy to clipboard')
                  div
                    i.ni.ni-cloud-download-95
                    span cloud-download-95
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='cloud-upload-96' title='Copy to clipboard')
                  div
                    i.ni.ni-cloud-upload-96
                    span cloud-upload-96
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='compass-04' title='Copy to clipboard')
                  div
                    i.ni.ni-compass-04
                    span compass-04
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='controller' title='Copy to clipboard')
                  div
                    i.ni.ni-controller
                    span controller
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='credit-card' title='Copy to clipboard')
                  div
                    i.ni.ni-credit-card
                    span credit-card
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='curved-next' title='Copy to clipboard')
                  div
                    i.ni.ni-curved-next
                    span curved-next
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='delivery-fast' title='Copy to clipboard')
                  div
                    i.ni.ni-delivery-fast
                    span delivery-fast
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='diamond' title='Copy to clipboard')
                  div
                    i.ni.ni-diamond
                    span diamond
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='email-83' title='Copy to clipboard')
                  div
                    i.ni.ni-email-83
                    span email-83
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='fat-add' title='Copy to clipboard')
                  div
                    i.ni.ni-fat-add
                    span fat-add
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='fat-delete' title='Copy to clipboard')
                  div
                    i.ni.ni-fat-delete
                    span fat-delete
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='fat-remove' title='Copy to clipboard')
                  div
                    i.ni.ni-fat-remove
                    span fat-remove
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='favourite-28' title='Copy to clipboard')
                  div
                    i.ni.ni-favourite-28
                    span favourite-28
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='folder-17' title='Copy to clipboard')
                  div
                    i.ni.ni-folder-17
                    span folder-17
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='glasses-2' title='Copy to clipboard')
                  div
                    i.ni.ni-glasses-2
                    span glasses-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='hat-3' title='Copy to clipboard')
                  div
                    i.ni.ni-hat-3
                    span hat-3
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='headphones' title='Copy to clipboard')
                  div
                    i.ni.ni-headphones
                    span headphones
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='html5' title='Copy to clipboard')
                  div
                    i.ni.ni-html5
                    span html5
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='istanbul' title='Copy to clipboard')
                  div
                    i.ni.ni-istanbul
                    span istanbul
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='circle-08' title='Copy to clipboard')
                  div
                    i.ni.ni-circle-08
                    span circle-08
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='key-25' title='Copy to clipboard')
                  div
                    i.ni.ni-key-25
                    span key-25
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='laptop' title='Copy to clipboard')
                  div
                    i.ni.ni-laptop
                    span laptop
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='like-2' title='Copy to clipboard')
                  div
                    i.ni.ni-like-2
                    span like-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='lock-circle-open' title='Copy to clipboard')
                  div
                    i.ni.ni-lock-circle-open
                    span lock-circle-open
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='map-big' title='Copy to clipboard')
                  div
                    i.ni.ni-map-big
                    span map-big
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='mobile-button' title='Copy to clipboard')
                  div
                    i.ni.ni-mobile-button
                    span mobile-button
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='money-coins' title='Copy to clipboard')
                  div
                    i.ni.ni-money-coins
                    span money-coins
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='note-03' title='Copy to clipboard')
                  div
                    i.ni.ni-note-03
                    span note-03
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='notification-70' title='Copy to clipboard')
                  div
                    i.ni.ni-notification-70
                    span notification-70
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='palette' title='Copy to clipboard')
                  div
                    i.ni.ni-palette
                    span palette
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='paper-diploma' title='Copy to clipboard')
                  div
                    i.ni.ni-paper-diploma
                    span paper-diploma
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='pin-3' title='Copy to clipboard')
                  div
                    i.ni.ni-pin-3
                    span pin-3
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='planet' title='Copy to clipboard')
                  div
                    i.ni.ni-planet
                    span planet
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='ruler-pencil' title='Copy to clipboard')
                  div
                    i.ni.ni-ruler-pencil
                    span ruler-pencil
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='satisfied' title='Copy to clipboard')
                  div
                    i.ni.ni-satisfied
                    span satisfied
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='scissors' title='Copy to clipboard')
                  div
                    i.ni.ni-scissors
                    span scissors
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='send' title='Copy to clipboard')
                  div
                    i.ni.ni-send
                    span send
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='settings-gear-65' title='Copy to clipboard')
                  div
                    i.ni.ni-settings-gear-65
                    span settings-gear-65
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='settings' title='Copy to clipboard')
                  div
                    i.ni.ni-settings
                    span settings
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='single-02' title='Copy to clipboard')
                  div
                    i.ni.ni-single-02
                    span single-02
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='single-copy-04' title='Copy to clipboard')
                  div
                    i.ni.ni-single-copy-04
                    span single-copy-04
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='sound-wave' title='Copy to clipboard')
                  div
                    i.ni.ni-sound-wave
                    span sound-wave
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='spaceship' title='Copy to clipboard')
                  div
                    i.ni.ni-spaceship
                    span spaceship
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='square-pin' title='Copy to clipboard')
                  div
                    i.ni.ni-square-pin
                    span square-pin
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='support-16' title='Copy to clipboard')
                  div
                    i.ni.ni-support-16
                    span support-16
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='tablet-button' title='Copy to clipboard')
                  div
                    i.ni.ni-tablet-button
                    span tablet-button
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='tag' title='Copy to clipboard')
                  div
                    i.ni.ni-tag
                    span tag
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='tie-bow' title='Copy to clipboard')
                  div
                    i.ni.ni-tie-bow
                    span tie-bow
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='time-alarm' title='Copy to clipboard')
                  div
                    i.ni.ni-time-alarm
                    span time-alarm
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='trophy' title='Copy to clipboard')
                  div
                    i.ni.ni-trophy
                    span trophy
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='tv-2' title='Copy to clipboard')
                  div
                    i.ni.ni-tv-2
                    span tv-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='umbrella-13' title='Copy to clipboard')
                  div
                    i.ni.ni-umbrella-13
                    span umbrella-13
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='user-run' title='Copy to clipboard')
                  div
                    i.ni.ni-user-run
                    span user-run
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='vector' title='Copy to clipboard')
                  div
                    i.ni.ni-vector
                    span vector
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='watch-time' title='Copy to clipboard')
                  div
                    i.ni.ni-watch-time
                    span watch-time
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='world' title='Copy to clipboard')
                  div
                    i.ni.ni-world
                    span world
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='zoom-split-in' title='Copy to clipboard')
                  div
                    i.ni.ni-zoom-split-in
                    span zoom-split-in
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='collection' title='Copy to clipboard')
                  div
                    i.ni.ni-collection
                    span collection
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='image' title='Copy to clipboard')
                  div
                    i.ni.ni-image
                    span image
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='shop' title='Copy to clipboard')
                  div
                    i.ni.ni-shop
                    span shop
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='ungroup' title='Copy to clipboard')
                  div
                    i.ni.ni-ungroup
                    span ungroup
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='world-2' title='Copy to clipboard')
                  div
                    i.ni.ni-world-2
                    span world-2
              .col-lg-3.col-md-6
                button.btn-icon-clipboard(type='button' data-clipboard-text='ui-04' title='Copy to clipboard')
                  div
                    i.ni.ni-ui-04
                    span ui-04
    include ../components/footer.pug
