doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Start your development with a Dashboard for Bootstrap 4.')
  meta(name='author' content='Creative Tim')
  title Blog Management
  // Favicon
  link(rel='icon' href='assets/img/brand/favicon.png' type='image/png')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
  // Icons
  link(rel='stylesheet' href='assets/vendor/nucleo/css/nucleo.css' type='text/css')
  link(rel='stylesheet' href='assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' type='text/css')
  // Page plugins
  // Argon CSS
  link(rel='stylesheet' href='assets/css/argon.css?v=1.2.0' type='text/css')

  block css 
// Sidenav
include ../components/sidebar.pug
// Main content
#panel.main-content
  // Topnav
  include ../components/navbar.pug
  // Header
  // Header
  block header
  // Page content
  block content
    // Footer
    
// Argon Scripts
// Core
block scripts
script.
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  
script(src="/route/logout.js")
script(src='/route/logged-in.js')
script(src='assets/vendor/jquery/dist/jquery.min.js')
script(src='assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src='assets/vendor/js-cookie/js.cookie.js')
script(src='assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js')
script(src='assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js')
// Optional JS
script(src='assets/vendor/chart.js/dist/Chart.min.js')
script(src='assets/vendor/chart.js/dist/Chart.extension.js')
// Argon JS
script(src='assets/js/argon.js')
// Social Authentication
script(src="/auth/google-authen.js")
